@import "part/vars";
@import "part/mixins";
@import "part/icons";
@import "part/fonts";

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	min-height: 100%;
	position: relative;
}
body {
	margin: 0;
  display: flex;
  flex-direction: column;
  font: 18px/26px 'Montserrat', sans-serif;
  color: #272641;
  background: #f2f4fc;
}
body,
html {
	padding: 0;
	height: 100%;
}
a {
	&:hover {
		text-decoration: none;
	}
}
b {

}
p {
	margin-bottom: 10px;
}
h1,
.h1 {
  font-family: 'Yeseva One', sans-serif;
  font-size: 64px;
  line-height: 85px;
}
h2,
.h2, h3 {
  font: 28px/40px 'Yeseva One', sans-serif;
  margin-bottom: 55px;
  text-align: center;
  @include bp($md) {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 60px;
  }
  span {
    font: 18px/26px 'Montserrat', sans-serif;
    display: block;
    padding-top: 15px;
    @include bp($md) {
      font-size: 24px;
      line-height: 32px;
      padding-top: 20px;
    }
  }
}
h3 {
  margin-bottom: 30px;
  text-align: left;
  @include bp($md) {
    margin-bottom: 40px;
  }
}
.title {
  text-align: center;
  h2 {
    display: inline-block;
    vertical-align: top;
    span {
      color: #59586e;
    }
  }
}
.read-more {
  margin-bottom: 40px;
}
.read-more .collapse:not(.show) {
  height: 230px !important;
  overflow: hidden;
  display: block;
}

.read-more a {
  display: none;
}
.read-more a.collapsed  {
  content: 'Читать полностью';
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px dashed;
  color: #272641;
  &:hover {
    color: #272641;
  }
}
.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 -10px 44px;
  border-bottom: none;
  @include bp($lg) {
    margin: 0 -2% 64px;
  }
  &__item {
    padding: 0 10px;
    margin-bottom: 20px;
    display: flex;
    flex: 100%;
    @include bp($sm) {
      flex: 50%;
    }
    @include bp($md) {
      flex: 30%;
    }
    @include bp($ml) {
      flex: 1;
    }
    @include bp($lg) {
      padding: 0 2%;
    }
  }
  a {
    border: 1px solid #4b3fcc;
    border-radius: 22px;
    padding: 15px 10px;
    font-size: 18px;
    line-height: 22px;
    color: #272641;
    cursor: pointer;
    transition: .3s;
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    background: #f2f4fc;
    @include bp($lg) {
      font-size: 20px;
      line-height: 24px;
      padding: 20px 10px;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      transition: all .3s;
      opacity: 0;
    }
    &:before {
      top: 2px;
      height: 100%;
      left: 0;
      right: 0;
      border-bottom: 2px solid #554db3;
      border-radius: 22px;
    }
    &:after {
      left: 20%;
      right: 20%;
      height: 30px;
      background: #8d88fa;
      box-shadow: 0 5px 30px 0 #8d88fa;
      z-index: -1;
      bottom: 0;
    }
    &.active,
    &:hover {
      background: #8d88fa;
      border-color: transparent;
      color: #fff;
      font-weight: 600;
      &:before,
      &:after {
        opacity: 1;
      }
    }
  }
}
.input {
  line-height: 80px;
  padding: 0 37px;
  background: #dce1fa;
  border-radius: 40px;
  font-size: 16px;
  color: #59586e;
  border: none;
  width: 100%;
}
.custom-control {
  margin: 0;
  padding: 0;
  .custom-control-label {
    padding-left: 40px;
    font-size: 14px;
    line-height: 22px;
    color: #59586e;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    text-align: left;
    a {
      color: #59586e;
      border-bottom: 1px solid;
    }
  }
  &.custom-checkbox .custom-control-label {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 28px;
      height: 28px;
      border-radius: 3px;
      background: #dce1fa;
    }
    &:after {
      content: '';
      position: absolute;
      left: 5px;
      top: -4px;
      bottom: 0;
      margin: auto 0;
      width: 18px;
      height: 9px;
      border-bottom: 2px solid #272641;
      border-left: 2px solid #272641;
      transform: rotate(-45deg);
      opacity: 0;
    }
  }
  .custom-control-input:checked + .custom-control-label {
    &:after {
      opacity: 1;
      transition: .3s;
    }
  }
}

.btn {
  display: inline-block;
  vertical-align: top;
  border: none;
  border-bottom: 8px solid #6d68c1;
  padding: 0;
  border-radius: 60px;
  transition: .2s ease;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 56px;
    right: 56px;
    margin: 0 auto;
    height: 30px;
    transition: .2s ease;
    box-shadow: 0 7px 50px 0 #554dd9;
  }
  &:active {
    border-bottom-width: 0;
    margin-top: 8px;
    &:before {
      bottom: 15px;
    }
  }
  &:focus {
    box-shadow: none;
  }
  &__holder {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: radial-gradient(at center 10px, #b8b5ff 0%, #8482eb 100%);
    border-bottom: 2px solid #b8b3ff;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px #675fd5;
    padding: 23px 67px;
    flex: 1 1 auto;
    border-radius: 60px;
    margin-bottom: -4px;
    position: relative;
    z-index: 1;
    @include bp($md) {
      font-size: 20px;
      line-height: 24px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 60px;
      box-shadow: inset 0 -5px 15px 0 rgba(206, 203, 255, .5);
    }
    &:after {
      content: '';
      border-radius: 60px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: url(../img/btn-back.png) no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }
  &_adaptive &__holder {
    padding: calcFluidSize(14, 17) calcFluidSize(20, 54);
    font-size: calcFluidSize(12, 20);
    line-height: calcFluidSize(18, 24);
  }
  &__text {
    //margin: 0 13px;
  }
  &__ico {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    line-height: 62px;
    background: radial-gradient(at center 45px, #b8b5ff 0%, #8482eb 100%);
    box-shadow: 0 2px 0 0 #b8b3ff;
    margin-left: 26px;
  }
  &_adaptive &__ico {
    width: calcFluidSize(30, 62);
    height: calcFluidSize(30, 62);
    line-height: calcFluidSize(30, 62);
  }
  .icon-phone {
    width: 30px;
    height: 30px;
    fill: #fff;
    filter: drop-shadow( 0 1px 0 #675fd5);
  }
  &_adaptive .icon-phone {
    width: calcFluidSize(16, 30);
    height: calcFluidSize(16, 30);
  }
}
input {
  padding: 3px 15px;
}
button {
	cursor: pointer;
}
::placeholder {
  opacity: 1 !important;
  color: #59586e !important;
}
.wrap {
	min-width: 320px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
  position: relative;
}
.content {
  flex: 1 0 auto;
  overflow: hidden;
}
.container-fluid {
  max-width: 1200px;
}
.header {
  position: absolute;
  padding: 20px 0;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  z-index: 999;
  @include bp($sm) {
    padding: 30px 0;
  }
  &__phone {
    b {
      display: block;
      font-size: 16px;
      line-height: 20px;
      @include bp($sm) {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px;
      }
    }
    a {
      display: inline-block;
      vertical-align: top;
      border-bottom: 1px dashed;
      color: #272641;
      font-size: 14px;
      @include bp($sm) {
        font-size: 18px;
      }
    }
  }
}
.consult-form {
  color: #272641;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  &__title {
    font: 24px/36px 'Yeseva One', sans-serif;
    margin-bottom: 16px;
  }
  &__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }
  &__input {
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 37px;
    }
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    &:before {
      bottom: -2px;
    }
    &__holder {
      padding-left: 16px;
      padding-right: 16px;
    }
    &__text {
      font-size: 14px;
      line-height: 20px;
      @include bp($md) {
        font-size: 20px;
        line-height: 24px;
      }
    }
    &__ico {
      width: calcFluidSize(40, 62);
      height: calcFluidSize(40, 62);
      line-height: calcFluidSize(40, 62);
    }
    .icon-phone {
      width: calcFluidSize(20, 30);
      height: calcFluidSize(20, 30);
    }
  }
  .custom-control {
    max-width: 320px;
    display: inline-block;
    vertical-align: top;
  }
}
.logo {
  display: inline-block;
  vertical-align: top;
  line-height: 1px;
  img {
    max-width: 100%;
  }
}
.amount {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  &__caption {
    flex: 0 0 110px;
  }
  &__holder {
    display: flex;
    align-items: center;
    line-height: 15px;
  }
  &__btn {
    font-weight: 600;
    text-align: center;
    width: 15px;
    height: 15px;
    background: #8d88fa;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }
  &__number {
    padding: 0 8px;
    pointer-events:none;
    background: transparent;
    border: none;
    width: 30px;
    text-align: center;
    -moz-appearance:textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
.pick {
  position: relative;
  z-index: 2;
  transition: border-top-left-radius .2s, border-top-right-radius .2s, border-bottom-left-radius .5s, border-bottom-right-radius .5s;
  &__btn {
    cursor: pointer;
    transition: color .3s;
    white-space: nowrap;
  }
  &__content {
    max-height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    background: #dce1fa;
    border-radius: 0 0 15px 15px;
    line-height: 30px;
    transition: all .1s cubic-bezier(0, 1, 0, 1);
    padding: 0 37px;
    @include bp($md) {
      padding: 0 15px;
    }
    @include bp($ml) {
      padding: 0 37px;
    }
    &-holder {
      padding-bottom: 15px;
    }

  }
  &:hover {
    border-radius: 15px 15px 0 0;
    transition: border-top-left-radius .2s, border-top-right-radius .2s;
  }
  &:hover &__content {
    max-height: 999px;
    transition: all .5s ease-in-out;
  }
  &:hover &__btn {
    color: rgba(88, 89, 110, .7);
  }
}
.checked-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: -30px;
  li {
    position: relative;
    padding-left: 42px;
    margin-bottom: 30px;
    .icon-check {
      position: absolute;
      left: 8px;
      top: 8px;
      width: 10px;
      height: 10px;
      fill: #fff;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background: #8cc354;
    }
    b {
      font-weight: 600;
    }
  }
}
.skewed {
  padding-top: 50px;
  position: relative;
  &__top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background: #fff url(../img/skewed.png) no-repeat;
    background-position: center top;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    clip-path: polygon(
        3px 43px, 7px 37px, 12px 33px, 20px 30px, calc(100% - 165px) 17px, calc(100% - 120px) 40px, calc(100% - 80px) 10px, 102% -1px, 102% 50px, 0 50px
    );
    @include bp($sm) {
      clip-path: polygon(
          3px 43px, 7px 37px, 12px 33px, 20px 30px, calc(100% - 165px) 10px, calc(100% - 120px) 40px, calc(100% - 80px) 5px, 102% -1px, 102% 50px, 0 50px
      );
    }
  }
  &__content {
    position: relative;
    z-index: 2;
  }
  &__holder {
    background: #fff url(../img/skewed.png) no-repeat;
    background-position: center -50px;
    border-radius: 0 0 20px 20px;
    margin-top: -2px;
    margin-bottom: 50px;
    position: relative;
    padding: 35px 28px 80px;
    min-height: 100px;
    @include bp($sm) {
      padding: 35px 48px 80px;
    }
    &:before {
      content: '';
      position: absolute;
      height: 70%;
      bottom: 0;
      background: linear-gradient(0deg, rgba(249,246,242,1) 0%, rgba(249,246,242,0) 100%);
      left: 0;
      right: 0;
      border-radius: 0 0 20px 20px;
    }
  }
  &__shadow {
    position: absolute;
    bottom: 0;
    left: 75px;
    right: 75px;
    margin: 0 auto;
    height: 76px;
    max-width: 1050px;
    opacity: .2;
    box-shadow: 0 7px 50px 0 #554dd9;
    z-index: -1;
  }
}
.caption {
  line-height: 22px;
  position: relative;
  &_center {
    text-align: center;
  }
  &_footered {
    padding-bottom: 30px;
    border-radius: 0;
  }
  &_clouded {
    &:before,
    &:after {
      content: '';
      position: absolute;
      background: url(../img/cloud/2.png);
      background-size: cover;
      width: 274px;
      height: 123px;
      z-index: 2;
    }
    &:before {
      left: -137px;
      bottom: -30px;
    }
    &:after {
      right: -85px;
      top: -85px;
    }
  }
  &__cloud {
    background: url(../img/cloud/1.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: calc(-18vw);
    left: 50%;
    margin-left: -45vw;
    width: 85vw;
    height: calc(85vw / 1.7373);
    max-width: 721px;
    max-height: 415px;
    z-index: -1;
    @include bp($md) {
      top: calc(-12vw);
      width: 55vw;
      height: calc(55vw / 1.7373);
      margin-left: -30vw;
    }
    @include bp($ml) {
      top: calc(-13vw);
      width: 65vw;
      height: calc(65vw / 1.7373);
      margin-left: -35vw;
    }
    @include bp($lg) {
      margin-left: -400px;
      width: 721px;
      height: 415px;
      top: -150px;
    }
  }
  &__holder {
    background: #ffe68c;
    padding: 22px 43px;
    display: inline-block;
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
  &_white {
    padding-bottom: 82px;
  }
  &_white &__holder {
    background: #fff;
    border-radius: 0 0 40px 40px;
  }
  &_footered &__holder {
    padding-bottom: 0;
    border-radius: 0;
  }
  &__top {
    position: absolute;
    left: 30px;
    right: 30px;
    background: url(../img/pattern2.png);
    background-position: top center;
    height: 10px;
    top: -9px;
    &:before,
    &:after {
      content: '';
      width: 35px;
      height: 10px;
      position: absolute;
      background: #ffe68c;
    }
    &:before {
      left: -30px;
      border-radius: 10px 10px 0 0;
    }
    &:after {
      right: -30px;
      border-radius: 10px 10px 0 0;
    }
  }
  &_white &__top {
    background: url(../img/pattern3.png);
    &:before,
    &:after {
      background: #fff;
    }
    &:before {
      border-radius: 40px 40px 0 0;
    }
    &:after {
      border-radius: 40px 40px 0 0;
    }
  }
  &__content {
    position: relative;
    z-index: 2;
    b {
      display: block;
      text-align: center;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 15px;
      padding-top: 10px;
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        margin-bottom: 15px;
      }
    }
  }
  &_white &__content {
    margin-bottom: -25px;
  }
  &__bottom {
    position: absolute;
    left: 30px;
    right: 30px;
    background: #ffe68c;
    height: 30px;
    bottom: 1px;
    &:before,
    &:after {
      content: '';
      width: 30px;
      height: 30px;
      position: absolute;
      background: url(../img/angle.png) no-repeat;
    }
    &:before {
      left: -30px;
      transform:scaleX(-1);
    }
    &:after {
      right: -30px;
    }
  }
  &_white &__bottom {
    background: #fff;
    height: 82px;
    left: 75px;
    right: 75px;
    &:before,
    &:after {
      width: 75px;
      height: 82px;
      background: url(../img/angle2.png) no-repeat;
    }
    &:before {
      left: -75px;
    }
    &:after {
      right: -75px;
    }
  }
}
.ham-menu {
  display: block;
  height: 100%;
  padding: 80px 30px 30px;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 999;
  box-shadow: -5px 0 10px 0 rgba(0, 0, 0, .4);
  visibility: hidden;
  transition: .3s;
  @include bp($sm) {
    padding: 90px 30px 30px;
  }
  &.active {
    visibility: visible;
    opacity: 1;
  }
  & .ham-menu-trigger {
    position: absolute;
    right: 15px;
    top: 30px;
    @include bp($sm) {
      top: 40px;
    }
  }
}
.ham-menu-trigger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 22px;
    height: 22px;
    border-top: 2px solid #272641;
    border-bottom: 2px solid #272641;
    transition: .3s;
  }
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 22px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #272641;
    transition: .3s;
  }
  &_close {
    &:before {
      border-bottom: none;
      height: 2px;
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}
.preface {
  background: url(../img/preface/back.jpg) no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: 0 0 200px 0;
  position: relative;
  overflow: hidden;
  @include bp($xxl) {
    padding: 0 0 300px 0;
  }
  &__wrap {
    padding-top: 120px;
    padding-bottom: 50px;
    @include bp($xl) {
      max-height: 560px;
    }
    @include bp($xxl) {
      max-height: 9999px;
      padding-top: 220px;
      padding-bottom: 0;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: 0;
      background: url(../img/preface/1.png) no-repeat;
      background-size: cover;
      width: 400px;
      height: 640px;
      display: none;
      @include bp($sm) {
        margin-left: -20px;
        display: block;
      }
      @include bp($xl) {
        width: 400px;
        height: 640px;
      }
      @include bp($xxl) {
        width: 568px;
        height: 912px;
      }
    }
  }
  h1 {
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
    @include bp($sm) {
      text-align: left;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 25px;
    }
    @include bp($xxl) {
      font-size: 64px;
      line-height: 85px;
      margin-bottom: 32px;
    }
    span {
      display: block;
      font: 24px/30px 'Montserrat', sans-serif;
      padding-top: 5px;
      @include bp($sm) {
        font-size: 28px;
        line-height: 34px;
      }
      @include bp($xxl) {
        font-size: 36px;
        line-height: 42px;
        padding-top: 15px;
      }
    }
    b {
      white-space: nowrap;
      font-weight: 600;
    }
  }
  &__subtitle {
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    justify-content: center;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    @include bp($sm) {
      justify-content: start;
    }
    @include bp($xl) {
      margin-bottom: 10px;
    }
    @include bp($xxl) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 48px;
    }
    span {
      &:first-of-type {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #ffdd71;
        z-index: -1;
        @include bp($xxl) {
          width: 108px;
          height: 108px;
        }
      }
      &:last-of-type {
        margin-left: -40px;
        @include bp($xxl) {
          margin-left: -54px;
        }
      }
    }
  }
  &__consult {
    text-align: center;
    @include bp($sm) {
      display: inline-block;
      vertical-align: top;
    }
    @include bp($xl) {
      text-align: center;
      display: block;
    }
    p {
      color: #59586e;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 10px;
      text-align: center;
      @include bp($xxl) {
        margin-bottom: 25px;
      }
      span {
        max-width: 250px;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .btn {
    &__holder {
      font-size: 16px;
      line-height: 22px;
      padding: 15px 40px;
      @include bp($xxl) {
        font-size: 20px;
        line-height: 24px;
        padding: 23px 67px;
      }
    }
    &__ico {
      width: 42px;
      height: 42px;
      line-height: 42px;
      @include bp($xxl) {
        width: 62px;
        height: 62px;
        line-height: 62px;
      }
      .icon-phone {
        width: 20px;
        height: 20px;
        @include bp($xxl) {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
.scrolldown {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 80px;
  @include bp($xxl){
    width: 120px;
  }
  &.active {
    @include bp($xl){
      visibility: visible;
      opacity: 1;
    }
  }
  &__holder {
    margin-top: calc(-50vh + 140px);
  }
  &__mouse {
    width: 13px;
    height: 20px;
    margin: 0 auto 5px;
    border: 1px solid #272641;
    border-radius: 6px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 4px;
      left: 0;
      right: 0;
      top: 3px;
      margin: 0 auto;
      background: #272641;
      animation: mouse-scroll 1s infinite ease;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      right: 0;
      margin: 20px auto 0;
      width: 1px;
      height: 58px;
      background: #272641;
    }
  }
  &__caption {
    font-size: 14px;
    line-height: 18px;
    transform: rotate(-90deg);
    margin-bottom: 60px;
    white-space: nowrap;
  }
}
.postface {
  margin: -120px 0 10px 0;
  @include bp($ml) {
    margin: -120px 0 50px 0;
  }
  @include bp(1480px) {
    margin: -120px 0 90px 0;
  }
  &__holder {
    padding-left: 10px;
    position: relative;
    z-index: 1;
    margin: 0 -15px;
    @include bp($ml) {
      margin: 0;
    }
  }
  &__img {
    position: absolute;
    width: 172px;
    height: 195px;
    right: -130px;
    bottom: -70px;
    z-index: 2;
    transform: rotate(0deg);
    display: none;
    transition: .5s;
    opacity: 0;
    @include bp(1481px) {
      display: block;
    }
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 1px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #c1bdf5;
      border-radius: 50%;
      box-shadow: 0 0 90px 90px #c1bdf5;
      z-index: -1;
      opacity: .7;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: url(../img/postface/1.png) no-repeat;
      background-size: cover;
      z-index: 1;
    }
  }
  &.anim-section.active &__img {
    transform: rotate(28deg);
    opacity: 1;
  }
  &__item {
    position: relative;
    z-index: 1;
    height: 100%;
    margin: 015px;
    @include bp($ml) {
      margin: 0;
    }
  }
  &__content {
    padding: 80px 40px 45px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(193, 189, 245, .4);
    margin: 0 0 0 -10px;
    text-align: center;
    position: relative;
    color: #59586e;
    height: 100%;
    &:before {
      content: '';
      position: absolute;
      width: 104px;
      height: 104px;
      background: #fff;
      top: -52px;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-radius: 50%;
    }
    b {
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 20px;
    }
  }
  &__ico {
    width: 92px;
    height: 92px;
    background: #fff;
    position: absolute;
    line-height: 92px;
    top: -46px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: inset 0 -20px 30px -20px rgba(193, 189, 245, .4);
    &:before {
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #8cc354;
      border-radius: 50%;
    }
    .icon-check {
      width: 24px;
      height: 23px;
      fill: #fff;
      z-index: 2;
      position: relative;
    }
  }
  &__back {
    position: absolute;
    bottom: -10px;
    left: 5px;
    right: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(193, 189, 245, .4);
    height: 64px;
    z-index: -1;
  }
}
.reasons {
  padding-bottom: 100px;
  position: relative;
  padding-top: 70px;
  z-index: 1;
  overflow: hidden;
  h2 {
    text-align: left;
  }
  &__holder {
    background: url(../img/reasons/back.jpg) no-repeat;
    background-size: cover;
    background-position: bottom left;
    border-radius: 20px;
    clip-path: polygon(
      130px 40px, 133px 40px, 183px 0, 100% 0,
      100% 100%, 0 100%, 0 0, 80px 0
    );
    @include bp($ml) {
      background-position: bottom center;
    }
  }
  &__content {
    padding: 65px 35px 55px;
    position: relative;
    z-index: 2;
    @include bp($md) {
      padding: 75px;
    }
  }
  &__img {
    position: absolute;
    left: 50%;
    bottom: 100px;
    z-index: 1;
    display: none;
    @include bp($sm) {
      display: block;
    }
    img {
      max-width: 150%;
      margin-left: -15%;
      @include bp($sm) {
        margin-left: -5%;
        max-width: 180%;
      }
      @include bp($md) {
        margin-left: -18%;
        max-width: 150%;
      }
      @include bp($ml) {
        margin-left: -28%;
        max-width: 150%;
      }
      @include bp($xl) {
        margin-left: -22%;
      }
    }
  }
  &__shadow {
    position: absolute;
    bottom: 100px;
    left: 75px;
    right: 75px;
    margin: 0 auto;
    height: 76px;
    max-width: 1050px;
    opacity: .2;
    box-shadow: 0 7px 50px 0 #554dd9;
    z-index: -1;
  }
  &__illustr {
    position: absolute;
    max-width: 1050px;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: -1;
    img {
      position: absolute;
      display: none;
      transition: 1s;
      @include bp(1480px) {
        display: block;
      }
      &:first-of-type {
        top: 10px;
        left: 10px;
      }
      &:last-of-type {
        right: 10px;
        top: 10px;
      }
    }
  }
  &.active &__illustr {
    img {
      &:first-of-type {
        top: -80px;
        left: -380px;
      }
      &:last-of-type {
        right: -410px;
        top: -30px;
      }
    }
  }
}
.which {
  margin-bottom: 50px;
  position: relative;
  @include bp(1480px) {
    margin-bottom: 117px;
  }
  &__title {
    position: relative;
    margin-top: -30px;
    @include bp($md) {
      margin-top: 0;
    }
    h2 {
      max-width: 440px;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -20px;
      display: none;
      @include bp($md) {
        display: block;
      }
      @include bp($lg) {
        top: -50px;
      }
    }
    &:before {
      background: url(../img/which/1.png) no-repeat;
      background-size: cover;
      left: 4%;
      max-width: 203px;
      max-height: 161px;
      width: 14vw;
      height: calc(14vw / 1.26);
      transform: rotate(0deg);
      opacity: 0;
      transition: .5s;
      @include bp($ml) {
        left: 8%;
      }
    }
    &:after {
      background: url(../img/which/2.png) no-repeat;
      background-size: cover;
      right: 4%;
      max-width: 185px;
      max-height: 132px;
      width: 14vw;
      height: calc(14vw / 1.40);
      transform: rotate(0deg);
      opacity: 0;
      transition: .5s;
      @include bp($ml) {
        right: 8%;
      }
    }
  }
  &.anim-section.active &__title {
    &:before {
      transform: rotate(-16deg);
      opacity: 1;
    }
    &:after {
      transform: rotate(38deg);
      opacity: 1;
    }
  }
  &__item {
    margin-bottom: 30px;
  }
  &__illustr {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    img {
      position: absolute;
      display: none;
      @include bp(1480px) {
        display: block;
      }
      &:first-of-type {
        top: 250px;
        left: -120px;
      }
      &:nth-of-type(2) {
        right: -210px;
        top: 320px;
      }
      &:last-of-type {
        right: 0;
        bottom: -290px;
      }
    }
  }
}
.visa-direction {
  position: relative;
  padding-bottom: 115px;
  cursor: pointer;
  height: 100%;
  z-index: 2;
  &__illustr {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    img {
      position: absolute;
      transition: .7s;
      z-index: -1;
      opacity: 0;
    }
  }
  &:hover &__illustr img {
    opacity: 1;
  }
  &_asia &__illustr {
    img {
      &:first-of-type {
        top: 20px;
        left: 20px;
      }
      &:last-of-type {
        top: 20px;
        right: 20px;
      }
    }
  }
  &_asia:hover &__illustr {
    img {
      &:first-of-type {
        top: -210px;
        left: -210px;
      }
      &:last-of-type {
        top: -130px;
        right: -110px;
      }
    }
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 10px;
    top: 0;
    bottom: 10px;
    opacity: 0;
    box-shadow: 50px 50px 60px 10px rgba(85, 77, 217, .1);
    transition: .3s;
    z-index: -1;
  }
  &:hover:before {
    opacity: 1;
  }
  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100%;
    min-height: 255px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    @include bp($ml) {
      min-height: 455px;
    }
  }
  &__holder {
    padding-top: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 121px;
    overflow: hidden;
    transition: max-height .8s cubic-bezier(0, 1, 0, 1);
    border-radius: 0 0 10px 10px;
  }
  &__content {
    padding: 25px 14px 37px;
    background: #fff;
    text-align: center;
    position: relative;
    transition: .3s;
    @include bp($md) {
      padding-left: 44px;
      padding-right: 44px;
    }
    &:before {
      content: '';
      position: absolute;
      top: -6px;
      left: 0;
      right: 0;
      height: 13px;
      background: url(../img/pattern.png);
    }
    .btn {
      width: 100%;
      white-space: normal;
      max-width: 292px;
      &:before {
        display: none;
      }
      &__holder {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  &:hover &__content {
    padding-top: 15px;
  }
  &:hover &__holder {
    max-height: 999px;
    transition: max-height .8s ease-in-out;
  }
  &__text {
    padding: 0 44px;
  }
  &__name {
    font: 36px/50px 'Yeseva One', sans-serif;
    margin-bottom: 13px;
  }
  &__amount {
    color: #59586e;
    margin-bottom: 14px;
    visibility: hidden;
    transition: .2s;
  }
  &:hover &__amount {
    visibility: visible;
  }
  &__price {
    visibility: hidden;
    vertical-align: top;
    display: inline-block;
    background: #ffdf71;
    padding: 11px 22px;
    border-radius: 100px;
    color: #59586e;
    margin-bottom: 33px;
    transition: .5s;
  }
  &:hover &__price {
    visibility: visible;
  }
  &:hover &__btn {
    visibility: visible;
  }
}
.difficulties {
  position: relative;
  overflow: hidden;
  padding-bottom: 75px;
  &:before {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/difficulties/back.png) no-repeat;
    background-position: center center;
    z-index: -1;
  }
  &__title {
    h2 {
      max-width: 770px;
    }
  }
  &__holder {

  }
  &__list {
    list-style: none;
    padding-left: 0;
    z-index: 2;
    margin-bottom: 40px;
    position: relative;
    @include bp($md) {
      margin-bottom: 80px;
    }
    li {
      color: #59586e;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      margin-bottom: 40px;
      @include bp($sm) {
        text-align: left;
      }
      b {
        display: block;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
  }
  &__ico {
    text-align: center;
    margin-bottom: 20px;
    svg {
      fill: rgba(78, 71, 170, .6);
    }
    .icon-dif-1 {
      width: 90px;
      height: 90px;
    }
    .icon-dif-2 {
      width: 84px;
      height: 90px;
    }
    .icon-dif-3 {
      width: 90px;
      height: 101px;
    }
    .icon-dif-4 {
      width: 90px;
      height: 76px;
    }
    .icon-dif-5 {
      width: 90px;
      height: 103px;
    }
    .icon-dif-6 {
      width: 90px;
      height: 86px;
    }
  }
  &__content {
    position: relative;
    height: 424px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
    @include bp($md) {
      height: auto;
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    margin-left: -150px;
    width: 300px;
    height: 424px;
    z-index: -1;
    //display: none;
    &:before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 10px;
      right: 0;
      background: linear-gradient(180deg, rgba(242,244,252,0) 0%, rgba(242,244,252,1) 100%);
      z-index: 2;
    }
    img {
      max-width: 100%;
      position: relative;
      bottom: 2px;
    }
    @include bp($sm) {
      bottom: 0;
    }
    @include bp($md) {
      margin-left: -165px;
      bottom: 9rem;
      width: 330px;
      height: 467px;
    }
    @include bp($ml) {
      bottom: 0;
    }
    @include bp($lg) {
      width: 500px;
      height: 708px;
      margin-left: -250px;
    }
  }
  &__caption {
    max-width: 476px;
    display: inline-block;
    vertical-align: top;
    .caption__holder {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  &__illustr {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    img {
      position: absolute;
      display: none;
      @include bp(1480px) {
        display: block;
      }
      &:first-of-type {
        top: -20px;
        left: -70px;
      }
      &:last-of-type {
        right: -55px;
        top: 650px;
      }
    }
  }
}
.steps {
  position: relative;
  &__wrap {
    max-width: 500px;
    margin: 0 auto;
    @include bp($md) {
      max-width: 100%;
    }
  }
  &__holder {
    position: relative;
    margin-bottom: 270px;
    @include bp($sm) {
      margin-bottom: 430px;
    }
    @include bp($md) {
      margin-bottom: 0;
    }
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -270px;
      margin-left: -140px;
      background: url(../img/steps/1.png) no-repeat;
      background-size: cover;
      width: 260px;
      height: 315px;
      z-index: 2;
      @include bp($sm) {
        width: 400px;
        height: 485px;
        bottom: -430px;
        margin-left: -240px;
      }
      @include bp($md) {
        margin-left: -210px;
        width: 260px;
        height: 315px;
        bottom: 0;
      }
      @include bp($ml) {
        margin-left: -280px;
        width: 400px;
        height: 485px;
        bottom: 0;
      }
      @include bp($lg) {
        margin-left: -310px;
        width: 500px;
        height: 607px;
        bottom: 0;
      }
    }
  }
  h2 {
    @include bp($md) {
      margin-bottom: 80px;
      text-align: left;
    }
    i {
      font-style: normal;
      margin: 0 0 15px 0;
      display: block;
      @include bp($ml) {
        display: inline;
        margin: 0 20px 15px 0;
      }
    }
    span {
      font: 28px/38px 'Yeseva One', sans-serif;
      text-shadow: 0 1px #6f63d3;
      color: #fff;
      background: #8d88fa;
      padding: 0 15px 5px;
      border-radius: 12px;
      white-space: normal;
      display: inline-block;
      @include bp($md) {
        font-size: 32px;
        line-height: 40px;
      }
      @include bp($sm) {
        font-size: 36px;
        line-height: 50px;
      }
    }
  }
  .consult-form {
    @include bp($md) {
      padding-top: 30px;
    }
    &__subtitle {

    }
    .btn__text {
      font-size: 16px;
      line-height: 20px;
      @include bp($ml) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  &__caption {
    text-align: center;
    margin-top: -100px;
    position: relative;
    z-index: 3;
    .caption {
      max-width: 476px;
      display: inline-block;
      vertical-align: top;
      &__holder {
        padding-top: 40px;
        padding-bottom: 20px;
      }
    }
  }
  .checked-list {
    text-align: center;
    max-width: 230px;
    margin: 0 auto;
    @include bp($md) {
      text-align: left;
      max-width: 9999px;
    }
    li {
      text-align: left;
    }
  }
  &__illustr {
    position: absolute;
    max-width: 1050px;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    img {
      position: absolute;
      display: none;
      transition: 1s;
      z-index: -1;
      @include bp(1480px) {
        display: block;
      }
      &:first-of-type {
        top: -170px;
        right: -1245px;
        z-index: 2;
      }
      &:nth-of-type(2) {
        top: 220px;
        left: 10px;
      }
      &:last-of-type {
        right: 10px;
        top: 190px;
      }
    }
  }
  &.active &__illustr {
    img {
      &:first-of-type {
        top: -170px;
        right: -245px;
      }
      &:nth-of-type(2) {
        top: 220px;
        left: -250px;
      }
      &:last-of-type {
        top: 190px;
        right: -360px;
      }
    }
  }
}
.visa-type {
  padding-bottom: 80px;
  padding-top: 50px;
  overflow: hidden;
  position: relative;
  @include bp(1480px) {
    padding-top: 120px;
  }
  &:before {
    content: '';
    position: absolute;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(242,244,252,1) 0%, rgba(242,244,252,0) 100%);
  }
  &__title {
    h2 {
      max-width: 572px;
    }
  }
  h3 {
    @include bp($xl) {
      padding-left: 30px;
    }
  }
  &__holder {

  }
  &__img {
    position: relative;
    z-index: -1;
    height: 100%;
    display: flex;
    align-items: flex-end;
    &:before {
      content: '';
      position: absolute;
      background: url(../img/visa-type/back.png) no-repeat;
      background-size: cover;
      left: 50%;
      top: 50%;
      width: 959px;
      height: 752px;
      margin-left: -479px;
      margin-top: -376px;
      z-index: -1;
    }
  }
  &__content {
    position: relative;
    z-index: 2;
  }
  &__text {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 64px;
    p {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 24px;
      @include bp($sm) {
        font-size: 18px;
      }
    }
  }
  &__btn {
    text-align: center;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    .btn {
      width: 100%;
      &__holder {
        padding-left: 30px;
        padding-right: 30px;
      }
      &__ico {
        width: calcFluidSize(46, 62);
        height: calcFluidSize(46, 62);
        line-height: calcFluidSize(46, 62);
      }
      .icon-click {
        width: calcFluidSize(22, 30);
        height: calcFluidSize(22, 30);
      }
    }
  }
  &__illustr {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    img {
      position: absolute;
      display: none;
      @include bp(1480px) {
        display: block;
      }
      &:first-of-type {
        top: -10px;
        left: -120px;
      }
      &:nth-of-type(2) {
        top: -40px;
        right: -150px;
      }
      &:last-of-type {
        right: -145px;
        bottom: 0;
      }
    }
  }
}
.travel-img {
  margin: 70px auto 0;
  width: 56.33333%;
  position: relative;
  max-width: 200px;
  @include bp($md) {
    max-width: 9999px;
    margin: 0 auto;
  }
  &__item {
    position: absolute;
    transition: .5s;
    &:first-of-type {
      position: relative;
      max-width: 100%;
    }
    &:nth-of-type(2) {
      width: 102.95858%;
      left: 0;
      bottom: 25.95833%;
      opacity: .2;
      z-index: -1;
      transition: .8s;
    }
    &:nth-of-type(3) {
      width: 105.6213%;
      left: 32.24852%;
      bottom: 72.08333%;
    }
    &:nth-of-type(4) {
      width: 35.79882%;
      right: 90.23669%;
      bottom: 88.75%;
    }
  }
}
.anim-section.active .travel-img {
  &__item {
    &:nth-of-type(2) {
      left: -86.09467%;
      opacity: 1;
    }
    &:nth-of-type(3) {
      transform: rotate(5deg);
    }
    &:nth-of-type(4) {
      transform: rotate(25deg);
    }
  }
}
.calc {
  position: relative;
  padding-top: 0;
  margin-bottom: 60px;
  @include bp(1480px) {
    padding-top: 180px;
    padding-bottom: 150px;
  }
  .skewed__top {
    background-image: url(../img/skewed2.png);
  }
  .skewed__holder {
    background-image: url(../img/skewed2.png);
    background-repeat: repeat-y;
    &:before {
      height: 100%;
      @include bp($md) {
        height: 70%;
      }
    }
  }
  .title {
    h2 {
      max-width: 555px;
    }
  }
  &__holder {
    max-width: 1105px;
    margin: 0 auto;
  }
  &__btn {
    text-align: center;
    display: inline-block;
    width: 100%;
    max-width: 380px;
    .btn {
      margin-bottom: 22px;
      width: 100%;
      &__holder {
        padding-left: 20px;
        padding-right: 20px;
      }
      &__ico {
        width: calcFluidSize(46, 62);
        height: calcFluidSize(46, 62);
        line-height: calcFluidSize(46, 62);
        margin-left: 10px;
        @include bp($sm) {
          margin-left: 26px;
        }
      }
      .icon-click {
        width: calcFluidSize(22, 30);
        height: calcFluidSize(22, 30);
      }
    }
  }
  &__docs {
    text-align: center;
    a {
      font-size: 15px;
      line-height: 19px;
      color: #59586e;
      border-bottom: 1px dotted;
    }
  }
  &__inputs {
    margin-bottom: 46px;
  }
  &__list {
    max-width: 945px;
    margin: 0 auto;
  }
  &__caption {
    .caption__content {
      max-height: 230px;
      overflow: hidden;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        height: 100px;
        bottom: 0;
        background: linear-gradient(0deg, rgba(255, 230, 140, 1) 0%, rgba(255, 230, 140, 0) 100%);
        left: 0;
        right: 0;
      }
    }
  }
  &__illustr {
    position: absolute;
    max-width: 1050px;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    img {
      position: absolute;
      display: none;
      transition: left 1s, right 1s, top 1s, bottom 1s;
      z-index: -1;
      @include bp(1480px) {
        display: block;
      }
      &:first-of-type {
        top: 200px;
        left: 10px;
        transform: rotate(-75deg);
      }
      &:nth-of-type(2) {
        top: 180px;
        right: 10px;
      }
      &:nth-of-type(3) {
        bottom: 190px;
        left: 10px;
      }
      &:last-of-type {
        bottom: 140px;
        right: 10px;
      }
    }
  }
  &.active &__illustr {
    img {
      &:first-of-type {
        top: -10px;
        left: -295px;
      }
      &:nth-of-type(2) {
        top: -30px;
        right: -180px;
      }
      &:nth-of-type(3) {
        bottom: 190px;
        left: -320px;
      }
      &:last-of-type {
        bottom: 10px;
        right: -310px;
      }
    }
  }
}
.faq {
  background: url(../img/faq/back2.png) no-repeat;
  background-position: center -130px;
  background-size: cover;
  position: relative;

  z-index: 1;
  &__back {
    margin: -120px auto 0;
    display: block;
    position: relative;
    /*max-width: 1920px;
    @include bp(1920px) {
      background: linear-gradient(90deg, rgba(242,244,252,1) 0%, rgba(242,244,252,0) 100px, rgba(242,244,252,0) calc(100% - 100px), rgba(242,244,252,1) 100%);
    }*/
    img {
      width: 100%;
      position: relative;
      z-index: -1;
    }
  }
  &__title {
    margin-bottom: 60px;
    @include bp($md) {
      margin-bottom: 113px;
      text-align: left;
    }
  }
  &__description {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    max-width: 296px;
    color: #6d6d6d;
    margin: 0 auto 40px;
    @include bp($md) {
      margin: 0 0 80px 0;
    }
    .icon-qst {
      position: absolute;
      width: 134px;
      height: 179px;
      top: 50%;
      left: 50%;
      margin-left: -67px;
      margin-top: -109px;
      fill: #ededf0;
      z-index: -1;
    }
    b {
      display: block;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 16px;
      color: #333;
    }
  }
  &__manager {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 48px;
    @include bp($sm) {
      margin-bottom: 0;
    }
    @include bp($md) {
      margin-bottom: 48px;
    }
    &-img {
      width: 105px;
      border-radius: 0 0 105px 105px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: 1px;
        width: 103px;
        height: 103px;
        left: 0;
        background: #9693de;
        border-radius: 105px;
        z-index: -1;
        box-shadow: 0 0 50px 0 rgba(151, 145, 222, .7);
      }
      img {
        //width: 100%;
      }
    }
    b {
      display: block;
    }
  }
  &__btn {
    .btn__holder {
      padding-left: 30px;
      padding-right: 30px;
      @include bp($lg) {
        padding-left: 63px;
        padding-right: 63px;
      }
    }
    .btn__ico {
      width: calcFluidSize(46, 62);
      height: calcFluidSize(46, 62);
      line-height: calcFluidSize(46, 62);
    }
    .icon-qst {
      width: calcFluidSize(18, 23);
      height: calcFluidSize(26, 31);
      fill: #fff;
      filter: drop-shadow( 0 1px 0 #675fd5);
    }

  }
  &-list {
    list-style: none;
    padding-left: 0;
    position: relative;
    z-index: 1;
    li {
      border-radius: 10px;
      background: #fff;
      margin-bottom: 20px;
    }
    &__btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 15px 60px 15px 20px;
      font-size: 16px;
      line-height: 22px;
      color: #333;
      position: relative;
      @include bp($sm) {
        min-height: 114px;
        font-size: 20px;
        line-height: 28px;
        padding: 20px 108px 20px 48px;
      }
      &:before {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        right: 25px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        border-right: 2px solid #afafaf;
        border-top: 2px solid #afafaf;
        transform: rotate(135deg);
        transition: .3s;
        @include bp($sm) {
          width: 20px;
          height: 20px;
          right: 40px;
        }
      }
      &.collapsed:before {
        transform: rotate(45deg);
      }
      &:hover {
        color: #333;
      }
      span {
        max-width: 410px;
      }
    }
    &__content {
      padding: 0 18px 20px;
      font-size: 16px;
      line-height: 24px;
      .btn {
        width: 100%;
      }
      .btn__holder {
        padding-left: 20px;
        padding-right: 20px;
      }
      @include bp($sm) {
        padding: 0 48px 20px;
        font-size: 18px;
        line-height: 24px;
        .btn {
          width: auto;
        }
        .btn__holder {
          padding-left: 67px;
          padding-right: 67px;
        }
      }
      .btn__ico {
        width: calcFluidSize(36, 62);
        height: calcFluidSize(36, 62);
        line-height: calcFluidSize(36, 62);
      }
      .icon-click {
        width: calcFluidSize(18, 23);
        height: calcFluidSize(26, 31);
        fill: #fff;
        filter: drop-shadow( 0 1px 0 #675fd5);
      }
    }
  }
}
.slider {
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
  &__nav {
    button {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      position: absolute;
      top: 20%;
      margin: auto 0;
      padding: 0;
      border: none;
      background: transparent;
      @include bp($md) {
        top: 0;
        bottom: 40px;
      }
      &.slick-disabled {
        opacity: .5;
        pointer-events: none;
      }
      .icon-arrow {
        width: 41px;
        height: 34px;
        fill: #fff;
      }
      &.prev {
        left: 0;
        @include bp($sm) {
          left: -37px;
        }
        .icon-arrow {
          transform: rotate(180deg);
        }
      }
      &.next {
        right: 0;
        @include bp($sm) {
          right: -37px;
        }
      }
      &:active {

      }
      .btn {
        padding: 0;
        width: 100%;
        border-bottom-width: 6px;
        &:active {
          border-bottom-width: 0;
          margin-top: 6px;
        }
      }
      .btn__holder {
        padding: 0;
        width: 100%;
        height: 75px;
      }
    }
  }
}
.reviews {
  margin-bottom: 70px;
  h3 {
    font: 600 24px/26px 'Montserrat', sans-serif;
    color: #59586e;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 25px;
    color: #59586e;
  }
  &__wrap {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    @include bp($sm) {
      padding: 0 60px;
    }
    @include bp($md) {
      max-width: 100%;
    }
    @include bp($xl) {
      padding: 0 100px;
    }
  }
  &__shadow {
    position: absolute;
    bottom: 0;
    left: 75px;
    right: 75px;
    margin: 0 auto;
    height: 76px;
    max-width: 1050px;
    opacity: .2;
    box-shadow: 0 7px 50px 0 #554dd9;
    z-index: -1;
  }
  &__holder {
    position: relative;
    background: #fff;
    margin-top: 67px;
    border-radius: 0 0 20px 20px;
    padding: 32px 32px 32px 32px;
    @include bp($md) {
      padding: 32px 32px 32px 84px;
    }
    @include bp($xl) {
      padding: 32px 32px 32px 64px;
    }
    &:before {
      content: '';
      position: absolute;
      top: -67px;
      height: 135px;
      width: 100%;
      left: 0;
      border-radius: 50%;
      background: #fff;
    }
  }
  &__photo {
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
    @include bp($md) {
      text-align: right;
      margin-bottom: 0;
    }
    img {
      width: 100%;
      max-width: 384px;
      display: inline-block !important;
      vertical-align: top;
    }
  }
  &__content {
  }
  .icon-quote {
    width: 77px;
    height: 64px;
    fill: #d7d4ec;
    margin-bottom: 24px;
  }
  &__flag {
    display: inline-block;
    vertical-align: top;
    width: 103px;
    height: 103px;
    border-radius: 50%;
    padding: 4px;
    background: #d9d6ff;
  }
  &__name {
    margin-bottom: 15px;
    color: #59586e;
  }
  &__country {
    font-weight: 600;
    color: #59586e;
  }
  &__illustr {
    position: absolute;
    max-width: 1050px;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 100%;
    img {
      position: absolute;
      display: none;
      transition: 1s;
      z-index: -1;
      @include bp(1480px) {
        display: block;
      }
      &:first-of-type {
        top: 50px;
        left: 30px;
      }
      &:nth-of-type(2) {
        top: -270px;
        right: -180px;
        transform: rotate(-15deg);
        z-index: 2;
      }
      &:nth-of-type(3) {
        bottom: 30px;
        left: 30px;
      }
      &:last-of-type {
        bottom: 30px;
        right: 30px;
      }
    }
  }
  &.active &__illustr {
    img {
      &:first-of-type {
        top: -250px;
        left: -270px;
      }
      &:nth-of-type(2) {
        transform: rotate(0deg);
      }
      &:nth-of-type(3) {
        bottom: -130px;
        left: -80px;
      }
      &:last-of-type {
        bottom: -120px;
        right: -100px;
      }
    }
  }
  .btn__holder {
    padding-left: 30px;
    padding-right: 30px;
    @include bp($sm) {
      padding-left: 63px;
      padding-right: 63px;
    }
  }
  .btn__ico {
    width: calcFluidSize(46, 62);
    height: calcFluidSize(46, 62);
    line-height: calcFluidSize(46, 62);
  }
  .icon-click {
    width: calcFluidSize(18, 23);
    height: calcFluidSize(26, 31);
    fill: #fff;
    filter: drop-shadow( 0 1px 0 #675fd5);
  }
}
.socials {
  list-style: none;
  padding-left: 0;
  display: flex;
  li {
    width: 50px;
    height: 50px;
    border-radius: 14px;
    margin-right: 15px;
    a {
      background-size: cover;
      display: block;
      line-height: 50px;
    }
  }
  &__vk {
    a {
      background: url(../img/socials/vk.png) no-repeat;
    }
  }
  &__ig {
    a {
      background: url(../img/socials/ig.png) no-repeat;
    }
  }
}
.find-us {
  padding: 30px 0 125px 0;
  background: url(../img/find-us/back.png) no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  /*@include bp($xl) {
    background-size: cover;
  }*/
  .title {
    position: relative;
    z-index: 2;
  }
  &:before {
    content: '';
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(242,244,252,1) 0%, rgba(242,244,252,0) 100%);
  }
  &__holder {
    position: relative;
    z-index: 2;
    @include bp($lg) {
      padding: 0 0 0 100px;
    }
  }
  &__content {
    padding-top: 30px;
  }
  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #59586e;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 20px;
    line-height: 28px;
    color: #59586e;
    margin-bottom: 32px;
    span {
      display: block;
    }
  }
  &__phone {
    font-size: 24px;
    line-height: 28px;
    color: #59586e;
    font-weight: 600;
    margin-bottom: 35px;
  }
  &__form {
    max-width: 450px;
    display: inline-block;
    vertical-align: top;
    .caption__holder {
      padding-left: 20px;
      padding-right: 20px;
      @include bp($sm) {
        padding-left: 43px;
        padding-right: 43px;
      }
    }
  }
  &__marker {
    position: absolute;
    bottom: 250px;
    left: 0;
    right: 100px;
    margin: 0 auto;
    width: 270px;
    height: 411px;
    overflow: hidden;
    img {
      bottom: -411px;
      left: 0;
      position: absolute;
      display: none;
      transition: left 1s, right 1s, top 1s, bottom 1s;
      z-index: 1;
      @include bp($sm) {
        display: block;
      }
    }
  }
  &.active &__marker {
    img {
      bottom: 0;
    }
  }
  &__illustr {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    img {
      position: absolute;
      display: none;
      transition: left 1s, right 1s, top 1s, bottom 1s;
      z-index: 1;
      @include bp(1480px) {
        display: block;
      }
      &:first-of-type {
        bottom: -1024px;
        left: -495px;
      }
      &:last-of-type {
        bottom: -1024px;
        right: -510px;
      }
    }
  }
  &.active &__illustr {
    img {
      &:first-of-type {
        bottom: -400px;
        left: -160px;
      }
      &:last-of-type {
        bottom: -700px;
        right: -410px;
      }
    }
  }
}

.modal-backdrop {
  background-color: #f0f0f0;
}
.modal {
  padding-right: 0 !important;
  &:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(at center center, #c1bdf5 0%, rgba(197, 194, 246, .92) 34%, rgba(212, 209, 255, .77) 45%, rgba(213, 210, 255, .76) 54%, rgba(255, 255, 255, .45) 100%);
  }
}
.modal-dialog {

}
.modal-body {
  padding-left: 0;
  padding-right: 0;
  .consult-form {
    padding-top: 20px;
  }
  .caption__holder {
    padding-left: 20px;
    padding-right: 20px;
    @include bp($sm) {
      padding-left: 43px;
      padding-right: 43px;
    }
  }
  .close {
    color: transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 1;
    top: 0;
    right: 8px;
    @include bp($sm) {
      right: -15px;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      background: #272641;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    &:before {
      width: 20px;
      height: 2px;
      margin: auto 0;
    }
    &:after {
      width: 2px;
      height: 20px;
      margin: 0 auto;
    }
  }
  .custom-control {
    padding-left: 20px;
    @include bp($sm) {
      padding-left: 0;
    }
  }
}
@keyframes mouse-scroll {
  from {
    top: 3px;
  }
  to {
    top: 6px;
  }
}
