@import "part/vars";
@import "part/mixins";
@import "part/icons";
@import "part/fonts";

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	min-height: 100%;
	position: relative;
}
body {
	margin: 0;
  display: flex;
  flex-direction: column;
  font: 18px/26px 'Montserrat', sans-serif;
  color: #272641;
  background: #f2f4fc;
}
body,
html {
	padding: 0;
	height: 100%;
}
a {
	&:hover {
		text-decoration: none;
	}
}
b {

}
p {
	margin-bottom: 10px;
}
h1,
.h1 {
  font-family: 'Yeseva One', sans-serif;
  font-size: 64px;
  line-height: 85px;
}
h2,
.h2 {
  font: 28px/40px 'Yeseva One', sans-serif;
  margin-bottom: 55px;
  text-align: center;
  @include bp($sm) {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 64px;
  }
  span {
    font: 18px/26px 'Montserrat', sans-serif;
    display: block;
    padding-top: 15px;
    @include bp($sm) {
      font-size: 24px;
      line-height: 32px;
      padding-top: 20px;
    }
  }
}
.title {
  text-align: center;
  h2 {
    display: inline-block;
    vertical-align: top;
    span {
      color: #59586e;
    }
  }
}
.input {
  line-height: calcFluidSize(60, 80);
  padding: 0 37px;
  background: #dce1fa;
  border-radius: 40px;
  font-size: 16px;
  color: #59586e;
  border: none;
  width: 100%;
}
.custom-control {
  margin: 0;
  padding: 0;
  .custom-control-label {
    padding-left: 40px;
    font-size: 14px;
    line-height: 22px;
    color: #59586e;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    text-align: left;
    a {
      color: #59586e;
      border-bottom: 1px solid;
    }
  }
  &.custom-checkbox .custom-control-label {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 28px;
      height: 28px;
      border-radius: 3px;
      background: #dce1fa;
    }
    &:after {
      content: '';
      position: absolute;
      left: 5px;
      top: -4px;
      bottom: 0;
      margin: auto 0;
      width: 18px;
      height: 9px;
      border-bottom: 2px solid #272641;
      border-left: 2px solid #272641;
      transform: rotate(-45deg);
      opacity: 0;
    }
  }
  .custom-control-input:checked + .custom-control-label {
    &:after {
      opacity: 1;
      transition: .3s;
    }
  }
}

.btn {
  display: inline-block;
  vertical-align: top;
  border: none;
  border-bottom: 8px solid #6d68c1;
  padding: 0;
  border-radius: 60px;
  transition: .2s ease;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 56px;
    right: 56px;
    margin: 0 auto;
    height: 30px;
    transition: .2s ease;
    box-shadow: 0 7px 50px 0 #554dd9;
  }
  &:active {
    border-bottom-width: 0;
    margin-top: 8px;
    &:before {
      bottom: 15px;
    }
  }
  &:focus {
    box-shadow: none;
  }
  &__holder {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: radial-gradient(at center 10px, #b8b5ff 0%, #8482eb 100%);
    border-bottom: 2px solid #b8b3ff;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px #675fd5;
    padding: 23px 67px;
    flex: 1 1 auto;
    border-radius: 60px;
    margin-bottom: -4px;
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 60px;
      box-shadow: inset 0 -5px 15px 0 rgba(206, 203, 255, .5);
    }
    &:after {
      content: '';
      border-radius: 60px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: url(../img/btn-back.png) no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }
  &_adaptive &__holder {
    padding: calcFluidSize(14, 17) calcFluidSize(20, 54);
    font-size: calcFluidSize(12, 20);
    line-height: calcFluidSize(18, 24);
  }
  &__text {
    //margin: 0 13px;
  }
  &__ico {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    line-height: 62px;
    background: radial-gradient(at center 45px, #b8b5ff 0%, #8482eb 100%);
    box-shadow: 0 2px 0 0 #b8b3ff;
    margin-left: 26px;
  }
  &_adaptive &__ico {
    width: calcFluidSize(30, 62);
    height: calcFluidSize(30, 62);
    line-height: calcFluidSize(30, 62);
  }
  .icon-phone {
    width: 30px;
    height: 30px;
    fill: #fff;
    filter: drop-shadow( 0 1px 0 #675fd5);
  }
  &_adaptive .icon-phone {
    width: calcFluidSize(16, 30);
    height: calcFluidSize(16, 30);
  }
}
input {
  padding: 3px 15px;
}
button {
	cursor: pointer;
}
::placeholder {
  opacity: 1 !important;
  color: #59586e !important;
}
.wrap {
	min-width: 320px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
  position: relative;
}
.content {
  flex: 1 0 auto;
}
.container-fluid {
  max-width: 1150px;
}
.header {
  position: absolute;
  padding: 20px 0;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  z-index: 999;
  @include bp($sm) {
    padding: 30px 0;
  }
  &__phone {
    b {
      display: block;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 5px;
    }
    a {
      display: inline-block;
      vertical-align: top;
      border-bottom: 1px dashed;
      color: #272641;
    }
  }
}
.consult-form {
  color: #272641;
  text-align: center;
  &__title {
    font: 24px/36px 'Yeseva One', sans-serif;
    margin-bottom: 16px;
  }
  &__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }
  &__input {
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 37px;
    }
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    &:before {
      bottom: -2px;
    }
    &__holder {
      padding-left: 16px;
      padding-right: 16px;
    }
    &__text {
      font-size: 14px;
      line-height: 20px;
      @include bp($md) {
        font-size: 20px;
        line-height: 24px;
      }
    }
    &__ico {
      width: calcFluidSize(36, 62);
      height: calcFluidSize(36, 62);
      line-height: calcFluidSize(36, 62);
    }
    .icon-phone {
      width: calcFluidSize(18, 30);
      height: calcFluidSize(18, 30);
    }
  }
  .custom-control {
    max-width: 320px;
    display: inline-block;
    vertical-align: top;
  }
}
.logo {
  display: inline-block;
  vertical-align: top;
}
.checked-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: -30px;
  li {
    position: relative;
    padding-left: 42px;
    margin-bottom: 30px;
    .icon-check {
      position: absolute;
      left: 8px;
      top: 8px;
      width: 10px;
      height: 10px;
      fill: #fff;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background: #8cc354;
    }
    b {
      font-weight: 600;
    }
  }
}
.skewed {
  padding-top: 50px;
  position: relative;
  &__top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background: #fff url(../img/skewed.png) no-repeat;
    background-position: center top;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    clip-path: polygon(
        3px 43px, 7px 37px, 12px 33px, 20px 30px, calc(100% - 165px) 17px, calc(100% - 120px) 40px, calc(100% - 80px) 10px, 102% -1px, 102% 50px, 0 50px
    );
    @include bp($sm) {
      clip-path: polygon(
          3px 43px, 7px 37px, 12px 33px, 20px 30px, calc(100% - 165px) 10px, calc(100% - 120px) 40px, calc(100% - 80px) 5px, 102% -1px, 102% 50px, 0 50px
      );
    }
  }
  &__content {
    position: relative;
    z-index: 2;
  }
  &__holder {
    background: #fff url(../img/skewed.png) no-repeat;
    background-position: center -50px;
    border-radius: 0 0 20px 20px;
    margin-top: -2px;
    margin-bottom: 50px;
    position: relative;
    padding: 35px 28px 80px;
    min-height: 100px;
    @include bp($sm) {
      padding: 35px 48px 80px;
    }
  }
  &__shadow {
    position: absolute;
    bottom: 0;
    left: 75px;
    right: 75px;
    margin: 0 auto;
    height: 76px;
    max-width: 1050px;
    opacity: .2;
    box-shadow: 0 7px 50px 0 #554dd9;
    z-index: -1;
  }
}
.caption {
  line-height: 22px;
  position: relative;
  &_center {
    text-align: center;
  }
  &_footered {
    padding-bottom: 0;
  }
  &_footered {
    padding-bottom: 30px;
  }
  &_clouded {
    &:before,
    &:after {
      content: '';
      position: absolute;
      background: url(../img/cloud/2.png);
      background-size: cover;
      width: 274px;
      height: 123px;
      z-index: 2;
    }
    &:before {
      left: -137px;
      bottom: -30px;
    }
    &:after {
      right: -85px;
      top: -85px;
    }
  }
  &__cloud {
    background: url(../img/cloud/1.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: calc(-18vw);
    left: 50%;
    margin-left: -45vw;
    width: 85vw;
    height: calc(85vw / 1.7373);
    max-width: 721px;
    max-height: 415px;
    z-index: -1;
    @include bp($md) {
      top: calc(-12vw);
      width: 55vw;
      height: calc(55vw / 1.7373);
      margin-left: -30vw;
    }
    @include bp($ml) {
      top: calc(-13vw);
      width: 65vw;
      height: calc(65vw / 1.7373);
      margin-left: -35vw;
    }
    @include bp($lg) {
      margin-left: -400px;
      width: 721px;
      height: 415px;
      top: -150px;
    }
  }
  &__holder {
    background: #ffe68c;
    padding: 22px 43px;
    display: inline-block;
    width: 100%;
  }
  &_footered &__holder {
    padding-bottom: 0;
  }
  &__top {
    position: absolute;
    left: 30px;
    right: 30px;
    background: url(../img/pattern2.png);
    background-position: top center;
    height: 10px;
    top: -10px;
    &:before,
    &:after {
      content: '';
      width: 35px;
      height: 10px;
      position: absolute;
      background: #ffe68c;
    }
    &:before {
      left: -30px;
      border-radius: 10px 10px 0 0;
    }
    &:after {
      right: -30px;
      border-radius: 10px 10px 0 0;
    }
  }
  &__bottom {
    position: absolute;
    left: 30px;
    right: 30px;
    background: #ffe68c;
    height: 30px;
    bottom: 0;
    &:before,
    &:after {
      content: '';
      width: 30px;
      height: 30px;
      position: absolute;
      background: url(../img/angle.png) no-repeat;
    }
    &:before {
      left: -30px;
      transform:scaleX(-1);
    }
    &:after {
      right: -30px;
    }
  }
}
.ham-menu {
  display: block;
  height: 100%;
  padding: 80px 30px 30px;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 999;
  box-shadow: -5px 0 10px 0 rgba(0, 0, 0, .4);
  visibility: hidden;
  transition: .3s;
  @include bp($sm) {
    padding: 90px 30px 30px;
  }
  &.active {
    visibility: visible;
    opacity: 1;
  }
  & .ham-menu-trigger {
    position: absolute;
    right: 15px;
    top: 30px;
    @include bp($sm) {
      top: 40px;
    }
  }
}
.ham-menu-trigger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 22px;
    height: 22px;
    border-top: 2px solid #272641;
    border-bottom: 2px solid #272641;
    transition: .3s;
  }
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 22px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #272641;
    transition: .3s;
  }
  &_close {
    &:before {
      border-bottom: none;
      height: 2px;
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}
.preface {
  background: url(../img/preface/back.jpg) no-repeat;
  background-size: cover;
  background-position: bottom left;
  padding: 0 0 200px 0;
  position: relative;
  overflow: hidden;
  @include bp($lg) {
    background-position: bottom center;
  }
  @include bp($xxl) {
    padding: 0 0 300px 0;
  }
  &__wrap {
    padding-top: 120px;
    padding-bottom: 50px;
    @include bp($xl) {
      max-height: 560px;
    }
    @include bp($xxl) {
      max-height: 9999px;
      padding-top: 220px;
      padding-bottom: 0;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: 0;
      background: url(../img/preface/1.png) no-repeat;
      background-size: cover;
      width: 400px;
      height: 640px;
      display: none;
      @include bp($sm) {
        margin-left: 30px;
        display: block;
      }
      @include bp($xl) {
        width: 400px;
        height: 640px;
      }
      @include bp($xxl) {
        width: 568px;
        height: 912px;
      }
    }
  }
  h1 {
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
    @include bp($sm) {
      text-align: left;
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 25px;
    }
    @include bp($xxl) {
      font-size: 64px;
      line-height: 85px;
      margin-bottom: 32px;
    }
    span {
      display: block;
      font: 24px/30px 'Montserrat', sans-serif;
      padding-top: 5px;
      @include bp($sm) {
        font-size: 30px;
        line-height: 36px;
      }
      @include bp($xxl) {
        font-size: 36px;
        line-height: 42px;
        padding-top: 15px;
      }
    }
    b {
      white-space: nowrap;
      font-weight: 600;
    }
  }
  &__subtitle {
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    justify-content: center;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    @include bp($sm) {
      justify-content: start;
    }
    @include bp($xl) {
      margin-bottom: 10px;
    }
    @include bp($xxl) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 48px;
    }
    span {
      &:first-of-type {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #ffdd71;
        z-index: -1;
        @include bp($xxl) {
          width: 108px;
          height: 108px;
        }
      }
      &:last-of-type {
        margin-left: -40px;
        @include bp($xxl) {
          margin-left: -54px;
        }
      }
    }
  }
  &__consult {
    text-align: center;
    @include bp($sm) {
      display: inline-block;
      vertical-align: top;
    }
    @include bp($xl) {
      text-align: center;
      display: block;
    }
    p {
      color: #59586e;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 10px;
      text-align: center;
      @include bp($xxl) {
        margin-bottom: 25px;
      }
      span {
        max-width: 250px;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .btn {
    &__holder {
      font-size: 16px;
      line-height: 22px;
      padding: 15px 40px;
      @include bp($xxl) {
        font-size: 20px;
        line-height: 24px;
        padding: 23px 67px;
      }
    }
    &__ico {
      width: 42px;
      height: 42px;
      line-height: 42px;
      @include bp($xxl) {
        width: 62px;
        height: 62px;
        line-height: 62px;
      }
      .icon-phone {
        width: 20px;
        height: 20px;
        @include bp($xxl) {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
.scrolldown {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 80px;
  @include bp($xxl){
    width: 120px;
  }
  &.active {
    @include bp($xl){
      visibility: visible;
      opacity: 1;
    }
  }
  &__holder {
    margin-top: calc(-50vh + 140px);
  }
  &__mouse {
    width: 13px;
    height: 20px;
    margin: 0 auto 5px;
    border: 1px solid #272641;
    border-radius: 6px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 4px;
      left: 0;
      right: 0;
      top: 3px;
      margin: 0 auto;
      background: #272641;
      animation: mouse-scroll 1s infinite ease;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      right: 0;
      margin: 20px auto 0;
      width: 1px;
      height: 58px;
      background: #272641;
    }
  }
  &__caption {
    font-size: 14px;
    line-height: 18px;
    transform: rotate(-90deg);
    margin-bottom: 60px;
    white-space: nowrap;
  }
}
.postface {
  margin: -120px 0 90px 0;
  &__holder {
    padding-left: 10px;
    position: relative;
    z-index: 1;
    margin: 0 -15px;
    @include bp($ml) {
      margin: 0;
    }
  }
  &__img {
    position: absolute;
    width: 172px;
    height: 195px;
    right: -130px;
    bottom: -70px;
    z-index: 2;
    transform: rotate(0deg);
    display: none;
    transition: .3s;
    opacity: 0;
    @include bp(1481px) {
      display: block;
    }
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 1px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #c1bdf5;
      border-radius: 50%;
      box-shadow: 0 0 90px 90px #c1bdf5;
      z-index: -1;
      opacity: .7;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: url(../img/postface/1.png) no-repeat;
      background-size: cover;
      z-index: 1;
    }
  }
  &.active &__img {
    transform: rotate(28deg);
    opacity: 1;
  }
  &__item {
    position: relative;
    z-index: 1;
    height: 100%;
    margin: 015px;
    @include bp($ml) {
      margin: 0;
    }
  }
  &__content {
    padding: 80px 40px 45px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(193, 189, 245, .4);
    margin: 0 0 0 -10px;
    text-align: center;
    position: relative;
    color: #59586e;
    height: 100%;
    &:before {
      content: '';
      position: absolute;
      width: 104px;
      height: 104px;
      background: #fff;
      top: -52px;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-radius: 50%;
    }
    b {
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 20px;
    }
  }
  &__ico {
    width: 92px;
    height: 92px;
    background: #fff;
    position: absolute;
    line-height: 92px;
    top: -46px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: inset 0 -20px 30px -20px rgba(193, 189, 245, .4);
    &:before {
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #8cc354;
      border-radius: 50%;
    }
    .icon-check {
      width: 24px;
      height: 23px;
      fill: #fff;
      z-index: 2;
      position: relative;
    }
  }
  &__back {
    position: absolute;
    bottom: -10px;
    left: 5px;
    right: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(193, 189, 245, .4);
    height: 64px;
    z-index: -1;
  }
}
.reasons {
  padding-bottom: 100px;
  position: relative;
  padding-top: 30px;
  z-index: 1;
  overflow: hidden;
  @include bp($lg) {
    overflow: visible;
  }
  h2 {
    text-align: left;
  }
  &__holder {
    background: url(../img/reasons/back.jpg) no-repeat;
    background-size: cover;
    background-position: bottom left;
    border-radius: 20px;
    clip-path: polygon(
      130px 40px, 133px 40px, 183px 0, 100% 0,
      100% 100%, 0 100%, 0 0, 80px 0
    );
    @include bp($ml) {
      background-position: bottom center;
    }
  }
  &__content {
    padding: 75px 35px;
    position: relative;
    z-index: 2;
    @include bp($sm) {
      padding: 75px;
    }
  }
  &__img {
    position: absolute;
    left: 50%;
    bottom: 100px;
    z-index: 1;
    img {
      max-width: 150%;
      margin-left: -15%;
      @include bp($ml) {
        margin-left: -22%;
        max-width: 122%;
      }
      @include bp($lg) {
        margin-left: -28%;
        max-width: 128%;
      }
    }
  }
  &__shadow {
    position: absolute;
    bottom: 100px;
    left: 75px;
    right: 75px;
    margin: 0 auto;
    height: 76px;
    max-width: 1050px;
    opacity: .2;
    box-shadow: 0 7px 50px 0 #554dd9;
    z-index: -1;
  }
}
.which {
  margin-bottom: 117px;
  &__title {
    position: relative;
    margin-top: -30px;
    @include bp($md) {
      margin-top: 0;
    }
    h2 {
      max-width: 440px;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -20px;
      display: none;
      @include bp($md) {
        display: block;
      }
      @include bp($lg) {
        top: -50px;
      }
    }
    &:before {
      background: url(../img/which/1.png) no-repeat;
      background-size: cover;
      left: 4%;
      max-width: 203px;
      max-height: 161px;
      width: 14vw;
      height: calc(14vw / 1.26);
      transform: rotate(0deg);
      opacity: 0;
      transition: .3s;
      @include bp($ml) {
        left: 8%;
      }
    }
    &:after {
      background: url(../img/which/2.png) no-repeat;
      background-size: cover;
      right: 4%;
      max-width: 185px;
      max-height: 132px;
      width: 14vw;
      height: calc(14vw / 1.40);
      transform: rotate(0deg);
      opacity: 0;
      transition: .3s;
      @include bp($ml) {
        right: 8%;
      }
    }
  }
  &.active &__title {
    &:before {
      transform: rotate(-16deg);
      opacity: 1;
    }
    &:after {
      transform: rotate(38deg);
      opacity: 1;
    }
  }
  &__item {
    margin-bottom: 30px;
  }
}
.visa-direction {
  position: relative;
  padding-bottom: 115px;
  cursor: pointer;
  height: 100%;
  &__illustr {
    position: absolute;
    &:before,
    &:after {
      content: '';
      position: absolute;
      opacity: 0;
      transition: .3s
    }
  }
  &:hover &__illustr {
    &:before,
    &:after {
      opacity: 1;
    }
  }
  &_asia &__illustr {

  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 10px;
    top: 0;
    bottom: 10px;
    opacity: 0;
    box-shadow: 50px 50px 60px 10px rgba(85, 77, 217, .1);
    transition: .3s;
    z-index: -1;
  }
  &:hover:before {
    opacity: 1;
  }
  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100%;
    min-height: 255px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    @include bp($ml) {
      min-height: 455px;
    }
  }
  &__holder {
    padding-top: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 121px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    border-radius: 0 0 10px 10px;
  }
  &__content {
    padding: 25px 14px 37px;
    background: #fff;
    text-align: center;
    position: relative;
    transition: .3s;
    @include bp($md) {
      padding-left: 44px;
      padding-right: 44px;
    }
    &:before {
      content: '';
      position: absolute;
      top: -6px;
      left: 0;
      right: 0;
      height: 13px;
      background: url(../img/pattern.png);
    }
    .btn {
      width: 100%;
      white-space: normal;
      max-width: 292px;
      &:before {
        display: none;
      }
      &__holder {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  &:hover &__content {
    padding-top: 15px;
  }
  &:hover &__holder {
    max-height: 999px;
    transition: max-height .5s ease-in-out;
  }
  &__text {
    padding: 0 44px;
  }
  &__name {
    font: 36px/50px 'Yeseva One', sans-serif;
    margin-bottom: 13px;
  }
  &__amount {
    color: #59586e;
    margin-bottom: 14px;
    visibility: hidden;
    transition: .2s;
  }
  &:hover &__amount {
    visibility: visible;
  }
  &__price {
    visibility: hidden;
    vertical-align: top;
    display: inline-block;
    background: #ffdf71;
    padding: 11px 22px;
    border-radius: 100px;
    color: #59586e;
    margin-bottom: 33px;
    transition: .5s;
  }
  &__btn {
    visibility: hidden;
    transition: .5s;
  }
  &:hover &__price {
    visibility: visible;
  }
  &:hover &__btn {
    visibility: visible;
  }
}
.difficulties {
  position: relative;
  overflow: hidden;
  padding-bottom: 75px;
  &:before {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/difficulties/back.png) no-repeat;
    background-position: center center;
    z-index: -1;
  }
  &__title {
    h2 {
      max-width: 770px;
    }
  }
  &__holder {

  }
  &__list {
    list-style: none;
    padding-left: 0;
    z-index: 2;
    margin-bottom: 80px;
    li {
      color: #59586e;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
      text-align: center;
      @include bp($sm) {
        text-align: left;
      }
      b {
        display: block;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
  }
  &__ico {
    text-align: center;
    margin-bottom: 20px;
    svg {
      fill: rgba(78, 71, 170, .6);
    }
    .icon-dif-1 {
      width: 90px;
      height: 90px;
    }
    .icon-dif-2 {
      width: 84px;
      height: 90px;
    }
    .icon-dif-3 {
      width: 90px;
      height: 101px;
    }
    .icon-dif-4 {
      width: 90px;
      height: 76px;
    }
    .icon-dif-5 {
      width: 90px;
      height: 103px;
    }
    .icon-dif-6 {
      width: 90px;
      height: 86px;
    }
  }
  &__content {
    position: relative;

  }
  &__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    margin-left: -250px;
    width: 500px;
    height: 708px;
    z-index: -1;
    display: none;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 300px;
      right: 0;
      background: linear-gradient(180deg, rgba(242,244,252,0) 0%, rgba(242,244,252,1) 100%);
      z-index: 2;
    }
    img {
      max-width: 100%;
      position: relative;
    }
    @include bp($md) {
      display: block;
    }
  }
  &__caption {
    max-width: 476px;
    display: inline-block;
    vertical-align: top;
    .caption__holder {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}
.steps {
  &__holder {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -290px;
      background: url(../img/steps/1.png) no-repeat;
      background-size: cover;
      width: 500px;
      height: 607px;
      z-index: 2;
      display: none;
      opacity: .7;
      @include bp($md) {
        display: block;
      }
      @include bp($ml) {
        opacity: 1;
      }
    }
  }
  h2 {
    text-align: left;
    @include bp($md) {
      margin-bottom: 80px;
    }
    i {
      font-style: normal;
      margin: 0 20px 15px 0;
      display: block;
      @include bp($ml) {
        display: inline;
      }
    }
    span {
      font: 28px/38px 'Yeseva One', sans-serif;
      text-shadow: 0 1px #6f63d3;
      color: #fff;
      background: #8d88fa;
      padding: 0 15px 5px;
      border-radius: 12px;
      white-space: normal;
      display: inline-block;
      @include bp($sm) {
        font-size: 36px;
        line-height: 50px;
      }
    }
  }
  .consult-form {
    padding-top: 30px;
    @include bp($ml) {
      padding-top: 30px;
      max-width: 360px;
      margin: 0 0 0 auto;
    }
    &__subtitle {
      font-family: "Yeseva One", sans-serif;
    }
    .btn__text {
      font-size: 16px;
      line-height: 20px;
      @include bp($ml) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  &__caption {
    text-align: center;
    margin-top: -100px;
    position: relative;
    z-index: 3;
    .caption {
      max-width: 476px;
      display: inline-block;
      vertical-align: top;
      &__holder {
        padding-top: 40px;
        padding-bottom: 20px;
      }
    }
  }
}
.visa-type {
  &__title {
    h2 {
      max-width: 572px;
    }
  }
}
.footer {
  flex: 0 0 auto;
}
@keyframes mouse-scroll {
  from {
    top: 3px;
  }
  to {
    top: 6px;
  }
}
